<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag 'http://code.jquery.com/jquery-latest.min.js' %>
  <%= javascript_include_tag :attachments %>
  <%= stylesheet_link_tag :attachments %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</html>
